@model IEnumerable<EcommereceTecvibes.Models.Product_Image>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContentType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date_Created)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.Product_Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Image)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContentType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date_Created)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.Product_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PrdImg_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PrdImg_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PrdImg_ID })
        </td>
    </tr>
}

</table>
